@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
  text-decoration: none;
}

* a {
  text-decoration: none;
  cursor: pointer;
  color: #3084E8;
}

* a:hover {
  text-decoration: none;
  color: #1976e5;
}

* a:focus {
  outline: none;
  text-decoration: none;
  color: #176bce;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

body {
  font-family: Montserrat, sans-serif;
  letter-spacing: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #42464b;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

.wrap {
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 6px 29px rgba(15, 16, 17, 0.05);
          box-shadow: 0px 6px 29px rgba(15, 16, 17, 0.05);
}

.wrap_white {
  background-color: #ffffff;
}

.wrap_light-blue {
  background-color: #f5f7fa;
}

.container, .container__child {
  margin: auto;
}

.container__child {
  min-width: 320px;
  padding: 0 16px 0 16px;
}

.container__rating {
  padding-top: 17px;
  padding-bottom: 30px;
}

.btn {
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
  cursor: pointer;
}

.btn_blue {
  color: #3084E8;
}

.label {
  display: inline-block;
  line-height: 10px;
  padding: 4px 7px 3px 7px;
  font-size: 10px;
  border-radius: 5px;
}

.label_green {
  color: #10b97b;
  border: 1px solid #10b97b;
}

.label_red {
  color: #e3405e;
  border: 1px solid #e3405e;
}

.reviews {
  padding-top: 29px;
}

.reviews__header {
  letter-spacing: 0.2px;
  margin-bottom: 22px;
}

.review {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0px 6px 29px rgba(15, 16, 17, 0.05);
          box-shadow: 0px 6px 29px rgba(15, 16, 17, 0.05);
  border-radius: 5px;
  padding: 19px 20px 24px 20px;
  margin-bottom: 10px;
}

.review__owner {
  display: grid;
  grid-template-columns: -webkit-min-content 75%;
  grid-template-columns: min-content 75%;
  -webkit-column-gap: 1.1rem;
     -moz-column-gap: 1.1rem;
          column-gap: 1.1rem;
  margin-bottom: 8px;
}

.review__owner-avatar {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

.review__owner-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__owner-name {
  letter-spacing: 0.2px;
  margin-right: 9px;
}

.review__owner-country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__owner-country-flag {
  margin-right: 8px;
  margin-bottom: 2px;
}

.review__owner-company-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.review__rating {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.review__star {
  display: inline-block;
  font-size: 14px;
  font-family: Times;
  line-height: 1;
  margin-right: 3px;
}

.review__star::before {
  content: '★';
  background: #fabd48;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.review__row2 {
  margin-top: 8px;
}

.review__details-row {
  margin-bottom: 12px;
}

.review__details-row-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.25px;
  margin-bottom: 3px;
}

.review__details-appraisal {
  margin-right: 6px;
}

.review__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -2px;
}

.review__btns-like-dislake {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review__btns-like-dislake-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 21px;
  cursor: pointer;
}

.review__btns-like-dislake-pic {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.review__btns-like-dislake-pic:hover svg path {
  fill: #10b97b;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.review__btns-like-dislake-pic_dis {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.review__btns-like-dislake-pic_dis:hover svg path {
  fill: #e3405e;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.review__submenu {
  position: absolute;
  top: 0;
  right: 0;
  margin: 21px 19px 0 0;
  cursor: pointer;
}

.bg_light-blue {
  background-color: #f5f7fa;
}

.bg_green {
  background-color: #10b97b;
}

.bg_yellow {
  background-color: #fabd48;
}

.bg_red {
  background-color: #e3405e;
}

.bg_white {
  background-color: #fff;
}

.five-stars {
  --star-size: 25px;
  --star-color: #ced7e0;
  --star-background: #fabd48;
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: icons;
  line-height: 1;
}

.five-stars::before {
  content: '\e900\e900\e900\e900\e900';
  letter-spacing: 7px;
  background: -webkit-gradient(linear, left top, right top, from(var(--star-background)), to(var(--star-color)));
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.progress-bar {
  position: relative;
  height: 6px;
  width: 100%;
  border-radius: 5px;
  background-color: #f5f7fa;
}

.progress-bar_green, .progress-bar_yellow, .progress-bar_red {
  position: absolute;
  width: calc(var(--rating-bar) / 5 * 100%);
  height: 100%;
  border-radius: 5px;
}

.progress-bar_green {
  background-color: #10b97b;
}

.progress-bar_yellow {
  background-color: #fabd48;
}

.progress-bar_red {
  background-color: #e3405e;
}

.rating__header {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.18px;
  margin-bottom: 15.3px;
}

.rating__quality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 21px;
}

.rating__quality-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 7px;
  font-size: 40px;
  line-height: 52px;
}

.rating__quality-number-2 {
  font-size: 20px;
  line-height: 32px;
}

.rating__quality-stars {
  margin-bottom: 10px;
}

.rating__qtty-reviews {
  font-size: 13px;
  line-height: 22px;
}

.rating__details-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2px;
}

.rating__details-header {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 22px;
  margin-bottom: -3px;
}

.rating__details-bar {
  width: 86%;
}

.text_w500 {
  font-weight: 500;
}

.text_w600 {
  font-weight: 600;
}

.text_black {
  color: #0f1011;
}

.text_gray {
  color: #87919C;
}

.text_yellow {
  color: #fabd48;
}

.text_h2 {
  font-size: 16px;
  line-height: 24px;
}

.border_red {
  border: 1px solid red;
}

.border_green {
  border: 1px solid green;
}

.border_blue {
  border: 1px solid blue;
}

@media screen and (min-width: 768px) {
  .wrap {
    border-radius: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
  }
  .container, .container__rating {
    width: auto;
    padding: 0;
  }
  .container__child {
    max-width: 768px;
    padding: 0 39px 0 39px;
  }
  .container__rating {
    margin-top: 30px;
    margin-bottom: 36px;
  }
  .rating {
    background-color: #fff;
    -webkit-box-shadow: 0px 6px 29px rgba(15, 16, 17, 0.05);
            box-shadow: 0px 6px 29px rgba(15, 16, 17, 0.05);
    border-radius: 5px;
    padding: 26px 34px;
  }
  .rating__header {
    font-size: 20px;
    line-height: 32px;
  }
  .reviews {
    padding-top: 0;
  }
  .reviews__header {
    font-size: 20px;
    line-height: 32px;
  }
  .review {
    padding: 12px 30px 30px 30px;
  }
  .review__owner {
    width: 98%;
    grid-template-columns: -webkit-min-content 1fr -webkit-min-content;
    grid-template-columns: min-content 1fr min-content;
  }
  .review__owner-avatar {
    width: 46px;
    height: 46px;
    margin-top: 24px;
  }
  .review__row1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .review__row2 {
    grid-column: 2 / -1;
  }
  .review__owner-info {
    margin-right: 20px;
  }
  .review__owner-country {
    margin-right: 20px;
  }
  .review__owner-company-name {
    line-height: 18px;
  }
  .review__details-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .review__details-row-header {
    margin-right: 4px;
  }
  .review__details-row-header-text {
    display: none;
  }
  .review__btns {
    margin-top: 22px;
  }
  .review__btns-main {
    padding: 6px 30px;
    border-radius: 40px;
    border: 1px solid #1373e5;
  }
  .btn:hover {
    -webkit-transition: 0.15s;
    transition: 0.15s;
    color: white;
    background-color: #3084E8;
  }
  .btn:focus, .btn:active {
    -webkit-transition: 0.15s;
    transition: 0.15s;
    color: white;
    background-color: #1976e5;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .rating__header {
    margin-bottom: 21px;
  }
  .rating__quality-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .rating__quality {
    margin-top: 2px;
    margin-right: 48px;
    margin-bottom: 0;
  }
  .rating__quality-number {
    font-size: 50px;
    margin-bottom: 18px;
  }
  .rating__quality-stars {
    margin-bottom: 23px;
  }
  .rating__details {
    width: 45%;
  }
  .rating__details-item {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    margin-top: 60px;
  }
  .container__child {
    width: 772px;
    margin: 0;
    padding: 0;
  }
  .container__rating {
    width: 370px;
    padding: 0;
    margin: 62px 0 0 0;
  }
  .reviews__header {
    margin-bottom: 31px;
  }
  .rating {
    margin: 0;
    padding: 26px 43px;
  }
  .rating__header {
    margin-bottom: 31px;
  }
  .rating__quality {
    margin-top: 2px;
    margin-bottom: 33px;
  }
  .rating__quality-number {
    font-size: 50px;
    line-height: 52px;
    margin-bottom: 18px;
  }
  .rating__quality-stars {
    margin-bottom: 23px;
  }
  .rating__details-item {
    margin-bottom: 12px;
  }
}

.inactive {
  display: none;
}
